@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
}


body {
  display: flex;
  flex-wrap: wrap;
  background-color: #27586b;
  background-image: linear-gradient(#27586b, white, #1d495b);
}

main {
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

h1 {
  color: white;
  margin: 15px;
  font-size: 30px;
}

p {
  display: flex;
  color: white;
  font-size: 20px;
  margin: 10px;
}

.button {
  position: fixed;
  right: 15px;
  bottom: 55px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #27586b;
  color: white;
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  main {
    margin: 0;
    padding: 0;
    
  }

  p {
    color: #1d495b;
    font-size: 16px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  h1 {
    color: #1d495b;
    margin: 1px;
    font-size: 20px;
  }

  .button {
    position: fixed;
    right: 55px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #27586b;
    color: white;
    cursor: pointer;
  }
}